$bg-color: #0a0a0a;
$primary-color: #141414;
$secondary-color: #1f1f1f;
$inner-button: #3c3f4a;
$font-color: #e1e7fa;
$secondary-font-color: #636878;
$focus-color: #292929;
$green-color: #65ff5c;
$input-color: #0d1f26;
$color-red: #750000;

$fnt-geo: 'Geo', sans-serif;
$fnt-gabarito: 'Gabarito', sans-serif;
$fnt-hint-madurai: 'Hind Madurai', sans-serif;
