@use './global_vars.scss' as vars;

* {
  padding: 0;
  margin: 0;
  color: vars.$font-color;
  font-family: vars.$fnt-gabarito;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: vars.$secondary-color;
}
